.body{
    margin: 0 auto;
    max-width: 1920px;
    min-width: 1200px;
    width: 100%;
   
    font-family: 'Montserrat';
    font-style: normal;
  }

  ul{
    list-style: none; 
  }

/*section_1*/

.section_1{
    background-image: url("./Step Project Ham/Sections_background/section_1header.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    background-attachment: fixed;
    position: relative;
    width: 1920px;
    height: 1012px;
    left: 0px;
    top: 0px; 
}

.nav_bar{
    position: absolute;

    width: 1920px;
    height: 120px;
    top: 0px;
    
    background: rgba(94, 93, 88, 0.6);
}

.nav_bar_container{
    position: absolute;
    width: 1160px;
    height: 120px;
    left: 380px;
    right: 380px;
    top: 0px;
}

.svg_polygon{
    position: absolute;
    width: 58px;
    height: 67px;
    left: 0px;
    top: 26px;
}

.nav_bar_logo_h{
    position: absolute;
    width: 31px;
    height: 31px;
    left: 14px;
    top: 5px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 31px;
    
    display: flex;
    align-items: center;
    
    color: #FFFFFF;
}

.nav_bar_logo{
    position: absolute;
    width: 134px;
    height: 46px;
    left: 64px;
    top: 55px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
    
    display: flex;
    align-items: center;   
}

.logo_a_1{
    color: #FFFFFF;   
}

.logo_a_2{
    color: #18CFAB;
}

a{
    height: 84px;
    text-decoration: none;
}

.ul_navbar{
    display: flex;
    position: absolute;
    width: 614.8px;
    height: 98px;
    left: 500px;
    top: 40px;

    margin: 0px;

    font-weight: 700;
    font-size: 16px;
    line-height: 25px;

    align-items: center;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.6);
}

.nav_home{
    margin-right: 21px;
    color: rgba(255, 255, 255, 0.6);
    
    padding-bottom: 60px;
}
.nav_home:hover{
    padding-bottom: 46px;

    position: relative;
    color: #18CFAB;
    border-bottom: 2px solid #18CFAB;
}

.nav_about{
    margin-right: 21px;
    color: rgba(255, 255, 255, 0.6);

    padding-bottom: 60px;
}
.nav_about:hover{
    padding-bottom: 46px;

    position: relative;
    color: #18CFAB;
    border-bottom: 2px solid #18CFAB;
}

.nav_blog{
    margin-right: 21px;
    color: rgba(255, 255, 255, 0.6);

    padding-bottom: 60px;
}
.nav_blog:hover{
    padding-bottom: 46px;

    position: relative;
    color: #18CFAB;
    border-bottom: 2px solid #18CFAB;
}

.nav_skills{
    margin-right: 21px;
    color: rgba(255, 255, 255, 0.6);
    
    padding-bottom: 60px;
}
.nav_skills:hover{
    padding-bottom: 46px;

    position: relative;
    color: #18CFAB;
    border-bottom: 2px solid #18CFAB;
}

.nav_service{
    margin-right: 21px;
    color: rgba(255, 255, 255, 0.6);

    padding-bottom: 60px;
}
.nav_service:hover{
    padding-bottom: 46px;

    position: relative;
    color: #18CFAB;
    border-bottom: 2px solid #18CFAB;
}

.nav_work{
    margin-right: 21px;
    color: rgba(255, 255, 255, 0.6);

    padding-bottom: 60px;
}
.nav_work:hover{
    padding-bottom: 46px;

    position: relative;
    color: #18CFAB;
    border-bottom: 2px solid #18CFAB;
}

.nav_testimonial{
    margin-right: 21px;
    color: rgba(255, 255, 255, 0.6);
}

.nav_testimonial:hover{
    padding-bottom: 46px;

    position: relative;
    color: #18CFAB;
    border-bottom: 2px solid #18CFAB;
}

.nav_search_svg{
    top: 0px;
    left: 620px;
    fill: rgba(255, 255, 255, 0.6);
}

.nav_search_svg:hover{
    top: 0px;
    fill: #18CFAB;
    border-bottom: 2px solid #18CFAB;
    padding-bottom: 45px;
}

.header_div_title{
    position: relative;

    height: 213px;
    top: 366px;
    display: flex;
    justify-content: center;
}

.h2_header_step_project{
    position: relative;
    width: 637px;
    height: 35px;
    top: 13px;

    font-weight: 700;
    font-size: 35px;
    line-height: 1px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;

    margin: 0px;
    
    color: #FFFFFF;
}

.h2_header_step_project_span{
  color: #18CFAB;  
}

.h1_header_step_project{
    position: absolute;
    width: 798px;
    height: 80px;
    
    top: 70px;

    font-weight: 700;
    font-size: 78px;
    line-height: 1px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;

    margin: 0px;
    
    color: #FFFFFF;
}

.h3_header_step_project_2{
    position: absolute;
    width: 1160px;
    height: 40px;
    top: 172px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 39px;
    line-height: 1px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin: 0px;
    
    color: #D4D4D4;
}

.section_1_button{
    position: absolute;
    width: 168px;
    height: 68px;
    left: 778px;
    top: 701px;

    border-radius: 5px;
    border-color: #FFFFFF;
    border-bottom: 15px;
    padding: 0px;
}

.span_explore_now{
    position: relative;
    width: 169px;
    height: 67px;
    left: -2px;

    font-weight: 700;
    font-size: 15px;
    line-height: 32px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;

    border-radius: 5px;
    background: #18CFAB;
    color: #FFFFFF;
}

.section_1_button_2{
    position: absolute;
    width: 168px;
    height: 68px;
    left: 973px;
    top: 701px;

    border-radius: 5px;
    border: #FFFFFF;
    border-bottom: 15px;
    padding: 0px;    
}

.span_purchase_now{
    position: relative;
    width: 169px;
    height: 66px;
    top: 1px;

    font-weight: 700;
    font-size: 15px;
    line-height: 32px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;

    border-radius: 5px;
    padding: 0px;
    background: #00CBF6;

    color: #FFFFFF;
}

/*section_2*/

.section_2_ul{
    width: 1922px;
    height: 370px;
    
    display: flex;
   
    padding: 0px;
    list-style: none;
}

.section_2_1{
    position: relative;
    width: 482px;
    height: 377px;
    left: 0px;
    top: -10px;
    justify-content: center;
    background: #1C2A33;
}

.section_2_2{
    position: relative;
    width: 482px;
    height: 377px;
    left: 0px;
    top: -10px;
    
    background: #18CFAB;
}

.section_2_3{
    position: relative;
    width: 482px;
    height: 377px;
    left: 0px;
    top: -10px;
    
    background: #1C2A33;
}

.section_2_4{
    position: relative;
    width: 482px;
    height: 377px;
    left: 0px;
    top: -10px;
    
    background: #18CFAB;
}

.section_2_1_img{
    position: absolute;
    width: 61px;
    height: 100px;
    left: 210px;
    top: 85px;
}

.section_2_2_img{
    position: absolute;
    width: 96px;
    height: 78px;
    left: 193px;
    top: 96px;   
}

.section_2_3_img{
    position: absolute;
    width: 62px;
    height: 99px;
    left: 210px;
    top: 85px;   
}

.section_2_4_img{
    position: absolute;
    width: 99px;
    height: 76px;
    left: 192px;
    top: 97px; 
}

.section_2_1_p{
    position: absolute;
    width: 480px;
    height: 25px;
    top: 232px;

    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-transform: uppercase;
    
    color: #18CFAB;
}

.section_2_2_p{
    position: absolute;
    width: 480px;
    height: 25px;
    top: 232px;

    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-transform: uppercase;
    
    color: #FFFFFF;
}

.section_2_3_p{
    position: absolute;
    width: 480px;
    height: 25px;
    top: 232px;

    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
 
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-transform: uppercase;
    
    color: #18CFAB;
}

.section_2_4_p{
    position: absolute;
    width: 480px;
    height: 25px;
    top: 232px;

    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    
    display: flex;
    align-items: flex-end;
    justify-content: center;
    text-transform: uppercase;
    
    color: #FFFFFF;
}

/*section_3*/

.section_3{
    position: relative;
    margin-right: 0px;
    margin-top: 50px;
    margin-bottom: 50px;
    
    height: 375px;   
}

.centered-content{
    position: absolute;
    width: 1142px;
    height: 236px;
    left: 1px;
    top: 110px;

    margin-left: 380px;
    width: 1160px;
    display: flex;
    flex-direction: column;   
    align-items: center;
    padding: 0px;
}

.tabs-content{
    padding: 0px;
}

.tabs-contents{    
    width: 980px;
    height: 136px;
    left: 208px;
    top: 102px;

    font-weight: 300;
    font-size: 13.645px;
    line-height: 24px;

    display: flex;
    align-items: center;

    color: #777777;
    display: none;
}

.active{
    display: block;
}

.tabs{
    display: flex; 
}

.tabs-contents_p{
    float: left;
    margin: 0px 15px 7px 0px;
}

.tabs-title{
    position: relative;
    width: 167px;
    height: 70px;
    top: 0px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    margin: 0px;
    cursor: pointer;
 
    background: #F8FCFE;
    border: 1.5px solid #F2F2F2;

    color: #717171;
}

.tabs-title.active{
    border: 1.5px solid #18CFAB;
    background-color: #18CFAB;
    color: #FFFFFF; 
    
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.tabs-title.active::after{
    content: '';
    position: absolute;
    top: 71px;

    border: 10px solid transparent; border-top: 10px solid #18CFAB;
}

.tabs-title:hover{
    border: 1.5px solid #18CFAB;
}

.section_3_h2{
    position: absolute;
    
    width: 254px;
    height: 40px;
    left: 835px;
    top: 0px;
    
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;

    margin: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    color: #4E4E4E;
}

.section_3_img{
    position: absolute;
    width: 91px;
    height: 8px;
    left: 928px;
    top: 60px; 
}

/*section_4*/

.section_4{
    position: relative;
    width: 1920px;
    height: 477px;

    background-image: url("./Step Project Ham/icon/Layer 21 1.png");  
}

.section_4_h2{
    position: absolute;
    width: 1160px;
    height: 40px;
    left: 380px;
    top: 126px;
    
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    margin: 0px;
    padding: 0px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;

    color: #18CFAB;
}

.section_4_p{
    position: absolute;
    width: 1160px;
    height: 40px;
    top: 179px;
    left: 380px;

    font-weight: 400;
    font-size: 19px;
    line-height: 40px;
    
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;

    color: #D8D8D8;
}

.section_4_button{
    position: absolute;
    width: 167px;
    height: 69px;
    left: 879px;
    top: 240px;
    
    border-left: #18CFAB;
    
    border-radius: 6px;
    border-color: #FFFFFF;
    margin: 0px; 
    padding: 0px;
}

.section_4_button_span{
    position: relative;
    width: 169px;
    height: 67px;
    letter-spacing: 0px;

    font-weight: 700;
    font-size: 15px;
    line-height: 32px;

    display: flex;

    align-items: center;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;

    border-radius: 6px;
    
    background: #18CFAB;

    color: #FFFFFF;
}

        /*section_5*/

.section_5{
    position: relative;
    width: 1920px;
    height: hidden;
    top: -45px;
    padding-bottom: 90px;

    background: #E9EDEF;
}

.tabs-contents_All_div_button{
    position: absolute;
    width: 284px;
    height: 206px;

    overflow: hidden;
    transition: 0.5s ease;
    
    opacity: 0;
    
    border-top: 1px solid #18CFAB;
    background: #E9EDEF;
}

.img_1{
    width: 282px;
    height: 206px;
    
    position: relative;
}

.img_1:hover .tabs-contents_All_div_button{
    opacity: 1;
}

.button_all{
    position: absolute;
    width: 41px;
    height: 40px;
    left: 102px;
    top: 50px;

    border: 1px solid #18CFAB;
    border-radius: 30px;  
}

.button_all_svg{
    position: absolute;
    width: 14.22px;
    height: 14.2px;
    left: 12px;
    top: 13px;

    color: #1FDAB5;
}

.button_all_2_p{
    position: absolute;
    width: 165px;
    height: 42px;
    left: 60px;
    top: 100.82px;

    font-weight: 700;
    font-size: 14.1771px;
    line-height: 25px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    
    color: #18CFAB;
}

.button_all_2_p2{
    position: absolute;
    width: 103px;
    height: 42px;
    left: 90px;
    top: 125.13px;

    font-weight: 300;
    font-size: 12.1518px;
    line-height: 25px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color: #8A8A8A;
}

.button_all_2{
    position: absolute;
    width: 43px;
    height: 43px;
    top: 50px;
    left: 146px;

    margin-right: 0px;
    
    border: 1px solid #18CFAB;
    background: #18CFAB;
    border-radius: 30px;
}

.button_all_2_svg{
    position: absolute;
    width: 12px;
    height: 11px;
    left: 14px;
    top: 15px;
    
    background: #FFFFFF;
}

.section_5_h2{
    position: relative;
    width: 1920px;
    height: 40px;
    top: 50px;
    
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;

    margin-top: 45px;

    align-items: center;
    text-align: center;

    color: #4E4E4E;
}

.section_5_img{
    position: relative;
    width: 93px;
    height: 8px;
    left: 920px;
    top: 58px;
}

#centered-content_All{
    display: flex;
    flex-direction: column;   
    align-items: center;
}

#tabs-content_All{
    padding: 0px;
    margin: 0 auto;
}

.tabs-contents_All{
    display: none;
}

#tabs_All{
    display: flex;
     padding: 0px;
    margin-top: 93px;
}

.tabs-title_All{
    position: relative;
    width: 190px;
    height: 70px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
 
    background: #F8FCFE;
    border: 1.5px solid #F2F2F2;

    color: #717171;
}

.mainActive{
    display: block;
}

.tabs-title_All.mainActive{
    display: flex;
    align-items: center;

    border: 1.5px solid #18CFAB;
    color: #18CFAB;
}

.tabs-contents_All_div{
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.button_Load_More{
    position: relative;
    width: 168px;
    height: 63px;
    left: 476px;
    top: 0px;

    margin-top: 60px;
    margin-bottom: 39px;

    display: flex;
    justify-content: center;
    background: #18CFAB;
    border-radius: 5px;
    border: 1.5px solid #F2F2F2;
}

.button_Load_More_p{
    width: 100%;
    height: 55px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.button_span_plus{
    position: absolute;
    width: 18px;
    height: 19px;
    left: 23px;
    top: 22px;

    color: #FFFFFF;
}

.button_span_Load_More{
    position: absolute;
    width: 120px;
    height: 42px;
    left: 56px;
    top: 9px;

    font-weight: 700;
    font-size: 14px;
    line-height: 42px;

    display: flex;
    align-items: center;
    text-transform: uppercase;

    color: #FFFFFF;
}

.lds-spinner {
    color: official;
    display: none;
    position: relative;
    width: 80px;
    height: 80px;

    left: 523px;

    margin-top: 60px;
    margin-bottom: 22px;
  }
  .lds-spinner div {
    transform-origin: 40px 40px;
    animation: lds-spinner 1.2s linear infinite;
  }
  .lds-spinner div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 3px;
    left: 37px;
    width: 6px;
    height: 18px;
    border-radius: 20%;
    background: #18CFAB;
  }
  .lds-spinner div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
  }
  .lds-spinner div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
  }
  .lds-spinner div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
  }
  .lds-spinner div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
  }
  .lds-spinner div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
  }
  .lds-spinner div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
  }
  .lds-spinner div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
  }
  .lds-spinner div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
  }
  .lds-spinner div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
  }
  .lds-spinner div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
  }
  .lds-spinner div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
  }
  .lds-spinner div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
  }
  @keyframes lds-spinner {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

.active{
    display: block ;
}

.load_more_hidden{
    display: none;
}
 
        /*section_6*/

.section_6{
    position: relative;
    height: 850px;
    left: 398px;
    
 
}

.section_6_h2{
    position: absolute;
    width: 298px;
    height: 40px;
    left: 458px;
    top: -2px;
    
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;

    display: flex;
    
    align-items: center;
    text-align: center;

    color: #4E4E4E;
}

.section_6_style_copy{
    position: absolute;
    left: 515px;
    top: 62px;
    padding-top: 24px;  
}

.breaking_news_ul{
    position: absolute;
    
    padding-top: 150px;
    padding-left: 0px;
    margin: 0px;
    
    display: grid;
    grid-template-columns: 256px 256px 256px 256px;
    grid-template-rows: 290px 290px;
    gap: 35px;

    align-items: center;
}

.section_6_p{
    position: relative;
    width: 70px;
    height: 68px;
    left: 193px;
    top: -16px;

    background: #203E38;
}

.section_6_p1{
    position: relative;
    width: 211px;
    height: 40px;
    margin-left: 10px;
    top: 110px;

    font-weight: 700;
    font-size: 17.9885px;
    line-height: 39px;
    margin-bottom: 0px;

    display: flex;

    text-align: center;

    color: #717171;
}

.breaking_news_li:hover .section_6_p1{
    color: #18CFAB;
}

.breaking_news_li:hover .section_6_p{
    background: #18CFAB;
}

.section_6_p2{
    position: relative;
    width: 210px;
    height: 40px;
    top: 95px;
    left: 0px;

    font-weight: 300;
    font-size: 13.991px;
    line-height: 39px;
    margin-left: 10px;
    padding-bottom: 40px;
    
    display: flex;
    text-align: center;
    
    color: #777777;
}

.section_6_img{
    position: absolute;
}

.span_data{
    position: absolute;
    width: 58px;
    height: 37px;
    left: 4px;
    top: 14px;

    font-weight: 400;
    font-size: 16px;
    line-height: 25px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}

/*section_7*/

.section_7{
    position: relative;
    width: 1920px;
    height: 853px;

    background-image: url("./Step Project Ham/Sections_background/section-3.jpg");
}

.section_7_div_text{
    position: absolute;
    width: 1160px;
    height: 215px;
    left: 0px;
    top: 0px;
}

.section_7_h2{
    position: absolute;
    width: 613px;
    height: 40px;
    left: 653px;
    top: 90px;

    margin: 0px;

    font-weight: 400;
    font-size: 36px;
    line-height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}



.section_7_style_copy{
    position: absolute;
    width: 78px;
    height: 4px;
    left: 920px;
    top: 160px;
    justify-content: center;
}

svg{
    position: absolute;
    width: 47px;
    height: 33px;
    left: 555px;
    top: 0px;
}

.section_7_p{
    position: absolute;
    width: 1160px;
    height: 45px;
    top: 34px;

    font-weight: 300;
    font-size: 16px;
    line-height: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    color: #BBBBBB;
}

.section_7_Hasan{
    position: absolute;
    width: 120px;
    height: 42px;
    left: 535px;
    top: 151px;
    
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;

    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;

    color: #18CFAB;
}

.section_7_UX{
    position: absolute;
    left: 535px;
    top: 181px;
    
   
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #BBBBBB;
}

.big_layer{
    position: absolute;
    width: 143px;
    height: 142px;
    left: 500px;
    top: 240px;

    border: solid 7px rgba(24, 207, 171, 0.2);
    border-radius: 50%;
}

.section_7_button_left{
    position: absolute;
    
    width: 33px;
    height: 34px;
    left: 705px;
    top: 695px;

    border: 1px solid #BBBBBB;
    background-color: #00000000;
}

.section_7_button_left:hover{
    position: absolute;
    
    width: 33px;
    height: 34px;
    left: 705px;
    top: 695px;

    border: 1px solid #00000000;
    background-color: #18CFAB;
}

.section_7_button_left_span{
    position: absolute;
    width: 33px;
    height: 34px;
    left: 0px;
    top: 0px;

    padding-top: 8px;

    color: #BBBBBB;
}

.section_7_button_left_span:hover{
    position: absolute;
    width: 33px;
    height: 34px;
    left: 0px;
    top: 0px;

    color: white;
}

.section_7_button_right{
    position: absolute;
    
    width: 33px;
    height: 34px;
    left: 1175px;
    top: 695px;

    border: 1px solid #BBBBBB;
    background-color: #00000000; 
}

.section_7_button_right:hover{
    position: absolute;
    
    width: 33px;
    height: 34px;
    left: 1175px;
    top: 695px;

    border: 1px solid #00000000;
    background-color: #18CFAB;  
}

.section_7_button_right_span{
    position: absolute;
    width: 33px;
    height: 34px;
    left: 0px;
    top: 0px;

    padding-top: 8px;
    
    color: #BBBBBB;
}

.section_7_button_right_span:hover{
    position: absolute;
    width: 33px;
    height: 34px;
    left: 0px;
    top: 0px;

    color: white;
}

.section_7_photo{
    position: absolute;
    width: 390px;
    height: 90px;
    left: 760px;
    top: 665px;
    display: flex;
    justify-content: center;
    padding-left: 0px;
    margin: 0px;
}

.section_7_photo > li{
    mix-blend-mode: normal;
    width: 80px;
    height: 70px;
    padding: 10px; 
}

.tabs-content_pege_ellipse{
    display: none;  
}

.mainsActive{
    display: block;
    }

img.section_7_ellipse{
    position: relative;
    width: 61px;
    height: 61px;

    border: solid 7px rgba(24, 207, 171, 0.2);
    border-radius: 50%;
}

img.section_7_ellipse:hover{
top: -10px;
transition: 2s;
}


.tabs-content_pege_ellipse{
    position: absolute;
    width: 1160px;
    height: 397px;
    left: 380px;
    top: 237px;
    overflow: hidden;
}


        /*footer*/

.footer{
    position: relative;
    width: 1920px;
    height: 121px;
    margin-top: 5px;
    
    background: #22353F;
}

.footer_p{
    position: absolute;
    width: 326px;
    height: 26px;
    left: 798px;
    top: 48px;

    font-weight: 300;
    font-size: 14px;
    line-height: 26px;

    display: flex;
    align-items: center;

    color: #AEAEAE;
}

.footer_span_theHam{
    color: #18CFAB;
}